html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transform: rotate(4deg);
  transition: all 200ms ease-out;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  text-align: center;
  top: 130px;
  left: 80px;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 4;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, .5);
}

figure:first-child {
  left: 20%;
  top: 110px;
  z-index: 2;
  transform: rotate(-14deg);
}

figure:nth-child(2) {
  left: 30%;
  top: 190px;
  z-index: 3;
  transform: rotate(5deg);
}

figure:last-child {
  left: 40%;
  top: 100px;
  z-index: 1;
  transform: rotate(35deg);
}
